.archive-window.egg-3900270425{background-color:#27241b;}
.archive-window.egg-468851703{background-color:#613583;}
.archive-window.egg-1902006259{background-color:#c38d09;}
.archive-window.egg-1105814355{color:black;}.archive-window.egg-1824731590{background-color:#1b0440;}
.archive-window.egg-772678320.archive-window.egg-748121027{color:black;}
.archive-window.egg-2221426966{background-color:#4793cc;}
.archive-window.egg-2558648716{background-color:black;color:white;}
.archive-window.egg-772678320,.archive-window.egg-748121027{color:black;}
.archive-window.egg-993261724{background-color:#6090b8;}
